[submodule "dump1090"]
        path = dump1090
	url = https://github.com/flightaware/dump1090.git
	branch = dev
[submodule "rtl-ais"]
	path = rtl-ais
	url = https://github.com/mik3y/rtl-ais
	ignore = dirty
[submodule "ogn/ogn-tracker"]
	path = ogn/ogn-tracker
	url = https://github.com/pjalocha/ogn-tracker.git
