.idea/
dump978/extract_nexrad
dump978/uat2esnt
dump978/uat2json
dump978/uat2text
gen_gdl90
libdump978.so
fancontrol

*.mp4

*.img

*.zip

test/bmp180_read

test/es_dump_csv

test/extract_latlng

test/extract_metar

test/getairmet

test/icao2reg

test/maxgap

test/nexrad_annunciator

test/packetrate

test/replay

test/sensortest

test/uat_read

test/uatsummary

.DS_Store

