[Unit]
Description=Stratux
After=network.target

[Service]
ExecStartPre=/root/stratux-pre-start.sh
ExecStart=/bin/sh -c '/root/rx | /usr/bin/gen_gdl90 -uatin'
ExecStop=/usr/bin/pkill dump1090
ExecStop=/usr/bin/pkill rx
KillMode=process
Restart=always
RestartSec=5
LimitCORE=1073741824

[Install]
WantedBy=multi-user.target

