[Unit]
Description=Stratux
After=network.target bluetooth.target

[Service]
ExecStartPre=/opt/stratux/bin/stratux-pre-start.sh
ExecStart=/opt/stratux/bin/gen_gdl90
ExecStopPost=/usr/bin/killall dump1090 ogn-rx-eu rtl_ais
KillMode=process
Restart=always
RestartSec=5
LimitCORE=1073741824

StandardOutput=null

[Install]
WantedBy=multi-user.target

