<div class="col-sm-12">
	<div class="panel-group col-sm-6">

		<div class="panel panel-default">
			<div class="panel-heading">Hardware</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="control-label col-xs-7">978 MHz</label>
					<div class="col-xs-5">
						<ui-switch ng-model='UAT_Enabled' settings-change></ui-switch>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-7">1090 MHz</label>
					<div class="col-xs-5">
						<ui-switch ng-model='ES_Enabled' settings-change></ui-switch>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-7">Ping ADS-B</label>
					<div class="col-xs-5">
						<ui-switch ng-model='Ping_Enabled' settings-change></ui-switch>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-7">GPS</label>
					<div class="col-xs-5">
						<ui-switch ng-model='GPS_Enabled' settings-change></ui-switch>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="panel-group col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">Diagnostics</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="control-label col-xs-7">Show Traffic Source in Callsign</label>
					<div class="col-xs-5">
						<ui-switch ng-model='DisplayTrafficSource' settings-change></ui-switch>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-7">Verbose Message Log</label>
					<div class="col-xs-5">
						<ui-switch ng-model='DEBUG' settings-change></ui-switch>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-7">Record Replay Logs</label>
					<div class="col-xs-5">
						<ui-switch ng-model='ReplayLog' settings-change></ui-switch>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	
<div class="col-sm-12">
	<div class="panel-group col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">Configuration</div>
			<div class="panel-body">
				<div class="form-group reset-flow">
					<label class="control-label col-xs-5">Mode S Code (Hex)</label>
					<form name="modeForm" ng-submit="updatemodes()" novalidate>
						<!-- type="number" not supported except on mobile -->
						<!-- RegEx for validation: ^[A-Fa-f0-9]{6}$ -->
						<input class="col-xs-7" type="string" required ng-model="OwnshipModeS" placeholder="FAA HEX code" ng-blur="updatemodes()" />
					</form>
				</div>
				<div class="form-group reset-flow">
					<label class="control-label col-xs-5">Watch List</label>
					<form name="watchForm" ng-submit="updatewatchlist()" novalidate>
						<!-- type="number" not supported except on mobile -->
						<input class="col-xs-7" type="string" required ng-model="WatchList" placeholder="space-delimited identifiers" ng-blur="updatewatchlist()" />
					</form>
				</div>
				<div class="form-group reset-flow">
					<label class="control-label col-xs-5">PPM Correction</label>
					<form name="ppmForm" ng-submit="updateppm()" novalidate>
						<!-- type="number" not supported except on mobile -->
						<input class="col-xs-7" type="number_format" required ng-model="PPM" placeholder="integer" ng-blur="updateppm()" />
					</form>
				</div>
				<div class="form-group reset-flow" ng-class="{ 'section_invisible': (!visible_serialout)}">
					<label class="control-label col-xs-5">Serial Output Baudrate</label>
					<form name="ppmForm" ng-submit="updateBaud()" novalidate>
						<!-- type="number" not supported except on mobile -->
						<input class="col-xs-7" type="number_format" required ng-model="Baud" placeholder="integer" ng-blur="updateBaud()" />
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<div class="panel-group col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">Commands</div>
			<div class="panel-body">
				<!-- Upload. Temporary. -->
				<div class="col-xs-12">
					<span ng-show="update_files == ''">
						<span style="position:relative; overflow: hidden;">
							<span class="fake-btn fake-btn-block">Click to select System Update file</span>
							<input style="opacity:0.0; position: absolute; top: 0; right: 0;" class="col-xs-12" type="file" name="update_file" onchange="angular.element(this).scope().setUploadFile(this.files)"/>
						</span>
					</span>
					<span ng-hide="update_files == ''">
						<button class="btn btn-block" onclick="angular.element(this).scope().uploadFile()">Install {{update_files[0].name}}</button>
					</span>
				</div>
				<div class="form-group reset-flow">
					<div class="col-xs-12">
	  				  <button class="btn btn-primary btn-block" ui-turn-on="modalReboot">Reboot</button> 				
	  				 </div>
				</div>
				<div class="form-group reset-flow">
					<div class="col-xs-12">
						<button class="btn btn-primary btn-block"ui-turn-on="modalShutdown">Shutdown</button>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
    <!-- Developer mode area -->
<div class="col-sm-12">
	<div ng-show="DeveloperMode" class="panel-group col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">Developer Options</div>
			<div class="panel-body">
				<div class="col-xs-12">
                <p>Coming soon</p>
				</div>
			</div>
		</div>
	</div>
</div>


<!--
<div class="col-sm-12">
	<div class="panel panel-default">
		<div class="panel-heading">Raw Configuration</div>
		<div class="panel-body">
			<p>stratux.conf:</p>
			<pre>{{rawSettings}}</pre>
		</div>
	</div>
</div>
-->
 
<div class="col-sm-12">
 	<h3 ui-if="rebooting" ui-state="rebooting">Stratux is rebooting.  You may need to reconnect WiFi once it reboots.</h3>
   	<h3 ui-if="shuttingdown" ui-state="shuttingdown">Stratux is shutting down.  You may disconnect power.</h3>
</div>

<div ui-content-for="modals">
  <div class="modal" ui-if="modalReboot" ui-state="modalReboot">
    <div class="modal-overlay "></div>
       	<div class="vertical-alignment-helper center-block">
        	<div class="modal-dialog vertical-align-center">
     
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" 
                  ui-turn-off="modalReboot"></button>
          <h4 class="modal-title">Are you really sure?</h4>
        </div>
        <div class="modal-body">
          <p>Do you wish to reboot the Stratux?</p>
          <p>Note that the system will reboot immediately and it will stop responding during the reboot</p>
        </div>
        <div class="modal-footer">
          <a ui-turn-off="modalReboot" class="btn btn-default">Cancel</a>
          <a ng-click="postReboot()" ui-turn-off="modalReboot" ui-turn-on="rebooting" class="btn btn-primary">Reboot</a>
        </div>
      </div>
    	  </div>
    </div>
  </div>
  
  <div class="modal" ui-if="modalShutdown" ui-state="modalShutdown">
    <div class="modal-overlay "></div>
       	<div class="vertical-alignment-helper center-block">
        	<div class="modal-dialog vertical-align-center">
     
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" 
                  ui-turn-off="modalShutdown"></button>
          <h4 class="modal-title">Are you really sure?</h4>
        </div>
        <div class="modal-body">
          <p>Do you wish to shutdown the Stratux?</p>
          <p>Note that the system will shutdown immediately. Please disconnect the power after the shutdown.</p>
        </div>
        <div class="modal-footer">
          <a ui-turn-off="modalShutdown" class="btn btn-default">Cancel</a>
          <a ng-click="postShutdown()" ui-turn-off="modalShutdown" ui-turn-on="shuttingdown" class="btn btn-primary">Shutdown</a>
        </div>
      </div>
    	  </div>
    </div>
  </div> 
</div>

