<div class="col-sm-12">
	<div class="text-center">
            <a ng-click="VersionClick()" class="btn btn-hidden"<strong>Version: <span>{{Version}} ({{Build}})</span></strong></a>
    </div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<span class="panel_label">Status</span>
			<span ng-show="ConnectState == 'Connected'" class="label label-success">{{ConnectState}}</span>
			<span ng-hide="ConnectState == 'Connected'" class="label label-danger">{{ConnectState}}</span>
            <span ng-show="DeveloperMode == true" class="label label-warning">Developer Mode</span>
		</div>
		<div class="panel-body">
			<div class="form-horizontal">
				<div class="row">
					<div class="col-sm-6 label_adj">
						<strong class="col-xs-5">Recent Clients:</strong>
						<span class="col-xs-7">{{Connected_Users}}</span>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 label_adj">
						<strong class="col-xs-5">SDR devices:</strong>
						<span class="col-xs-7">{{Devices}}</span>
					</div>
					<div class="col-sm-6 label_adj" ng-class="{'section_invisible': !visible_ping}">
						<strong class="col-xs-5">Ping device:</strong>
						<span ng-show="Ping_connected == true" class="label label-success">Connected</span>
						<span ng-hide="Ping_connected == true" class="label label-danger">Disconnected</span>
					</div>
				</div>
				<div class="separator"></div>
				<div class="row">
					<label class="col-xs-4">Messages</label>
					<label class="col-xs-6">Current</label>
					<label class="col-xs-2 text-right">Peak</label>
				</div>
				<div class="row" ng-class="{'section_invisible': !visible_uat}">
					<span class="col-xs-1"></span>
					<label class="col-xs-3">UAT:</label>
					<span class="col-xs-6"><div class="bar_container"><div class="bar_display traffic-style2" ng-attr-style="width:{{UAT_messages_max ? 100*UAT_messages_last_minute / UAT_messages_max : 0}}%">{{UAT_messages_last_minute}}</div></div></span>
					<span class="col-xs-2 text-right">{{UAT_messages_max}}</span>
				</div>
				<div class="row" ng-class="{'section_invisible': !visible_es}">
					<span class="col-xs-1"></span>
					<label class="col-xs-3">1090ES:</label>
					<span class="col-xs-6"><div class="bar_container"><div class="bar_display traffic-style1" ng-attr-style="width:{{ES_messages_max ? 100*ES_messages_last_minute / ES_messages_max : 0}}%;">{{ES_messages_last_minute}}</div></div></span>
					<span class="col-xs-2 text-right">{{ES_messages_max}}</span>
				</div>
				<!--
                <div id="uat_products" style="display: none;">
                    <div class="row"><span class="col-xs-1">&nbsp;</span></div>
                    <div class="row">
                        <label class="col-xs-6">UAT Products</label>
                        <label class="col-xs-3 text-right">Last Minute</label>
                        <label class="col-xs-3"></label>
                    </div>
                    <div>{{product_rows}}</div>
                </div>
-->
				<div class="row" ng-class="{ 'section_invisible': (!visible_gps && !visible_ahrs && !visible_uat)}">
					<span class="col-xs-1">&nbsp;</span>
				</div>
				<div class="row" ng-class="{'section_invisible': !visible_uat}">
					<label class="col-xs-6">UAT Towers:</label>
					<span class="col-xs-6">{{UAT_Towers}}</span>
				</div>
				<div class="row" ng-class="{'section_invisible': !visible_gps}">
					<label class="col-xs-6">GPS solution:</label>
					<span class="col-xs-6">{{GPS_solution}}{{GPS_position_accuracy}}</span>
				</div>
				<div class="row" ng-class="{'section_invisible': !visible_gps}">
					<label class="col-xs-6">GPS satellites:</label>
					<span class="col-xs-6">{{GPS_satellites_locked}} in solution; {{GPS_satellites_seen}} seen; {{GPS_satellites_tracked}} tracked</span>
				</div>
				<div class="row"><span class="col-xs-1">&nbsp;</span></div>
				<div class="separator"></div>
                <div class="row" ng-class="{'section_invisible': !visible_uat}">
                    <div class="col-sm-6">
                        <span><strong>UAT Statistics</strong></span>
                    </div>
                </div>
                <div class="row" ng-class="{'section_invisible': !visible_uat}">
                    <div class="col-sm-12">
                        <span align="center" style="background-color: #f7f7f7" class="col-xs-3">METARS</span>
                        <span align="center" style="background-color: #f7f7f7" class="col-xs-3">TAFS</span>
                        <span align="center" style="background-color: #f7f7f7" class="col-xs-3">NEXRAD</span>
                        <span align="center" style="background-color: #f7f7f7" class="col-xs-3">PIREP</span>
                    </div>
                </div>
                <div class="row" ng-class="{'section_invisible': !visible_uat}">
                    <div class="col-sm-12">
                        <span align="center" class="col-xs-3">{{UAT_METAR_total}}</span>
                        <span align="center" class="col-xs-3">{{UAT_TAF_total}}</span>
                        <span align="center" class="col-xs-3">{{UAT_NEXRAD_total}}</span>
                        <span align="center" class="col-xs-3">{{UAT_PIREP_total}}</span>
                    </div>
                </div>
                <div class="row" ng-class="{'section_invisible': !visible_uat}">
                    <div class="col-sm-12">
                        <span align="center" style="background-color: #f7f7f7" class="col-xs-3">SIGMET</span>
                        <span align="center" style="background-color: #f7f7f7" class="col-xs-3">NOTAMS</span>
                        <span align="center" style="background-color: #f7f7f7" class="col-xs-3">Other</span>
                     </div>
                </div>
                <div class="row" ng-class="{'section_invisible': !visible_uat}">
                    <div class="col-sm-12">
                        <span align="center" class="col-xs-3">{{UAT_SIGMET_total}}</span>
                        <span align="center" class="col-xs-3">{{UAT_NOTAM_total}}</span>
                        <span align="center" class="col-xs-3">{{UAT_OTHER_total}}</span>
                    </div>
                </div>
            </div>
            <div class="row" ng-class="{'section_invisible': !visible_uat}">
				<div class="separator"></div>
				<div class="row"><span class="col-xs-1">&nbsp;</span></div>
				<div class="separator"></div>
				<div class="row">
					<div class="col-sm-4 label_adj">
						<span class="col-xs-5"><strong>Uptime:</strong></span>
						<span class="col-xs-7">{{Uptime}}</span>
					</div>
					<div class="col-sm-4 label_adj">
						<span class="col-xs-5"><strong>CPU Temp:</strong></span>
						<span class="col-xs-7">{{CPUTemp}}</span>
					</div>
				</div>
			</div>
		</div>	
	</div>

	<div class="panel panel-default">
		<div class="panel-heading" ng-class="{'section_invisible': !visible_errors}">
			<span class="panel_label">Errors</span>
		</div>
		<div class="panel-body" ng-class="{'section_invisible': !visible_errors}">
			<ul>
				<li class="status-error" ng-repeat="err in Errors">
					<span class="fa fa-exclamation-triangle icon-red"></span> <span class="icon-red">{{err}}</span>
				</li>
				</ul>
			</div>
	</div>
				
				
		
				
			
</div>
