<div class="col-sm-12">
	<div class="text-center">
		<a ng-click="VersionClick()" class="btn btn-hidden"><strong>Version: <span>{{Version}} ({{Build}})</span></strong></a>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<span class="panel_label">Status</span>
			<span ng-show="ConnectState == 'Connected'" class="label label-success">{{ConnectState}}</span>
			<span ng-hide="ConnectState == 'Connected'" class="label label-danger">{{ConnectState}}</span>
			<span ng-show="DeveloperMode == true" class="label label-warning">Developer Mode</span>
		</div>
		<div class="panel-body">
			<div class="form-horizontal">
				<div class="row">
					<div class="col-sm-6 label_adj">
						<strong class="col-xs-5">Recent Clients:</strong>
						<span class="col-xs-7">{{Connected_Users}}</span>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 label_adj">
						<strong class="col-xs-5">SDR devices:</strong>
						<span class="col-xs-7">{{Devices}}</span>
					</div>
					<div class="col-sm-6 label_adj" ng-class="{'section_invisible': !visible_ping}">
						<strong class="col-xs-5">Ping device:</strong>
						<span ng-show="Ping_connected == true" class="label label-success">Connected</span>
						<span ng-hide="Ping_connected == true" class="label label-danger">Disconnected</span>
					</div>
				</div>
				<div class="separator"></div>
				<div class="row">
					<label class="col-xs-4">Messages</label>
					<label class="col-xs-6">Current</label>
					<label class="col-xs-2 text-right">Peak</label>
				</div>
				<div class="row" ng-class="{'section_invisible': !visible_uat}">
					<span class="col-xs-1"></span>
					<label class="col-xs-3">UAT:</label>
					<span class="col-xs-6"><div class="bar_container">
						<div class="bar_display" ng-attr-style="background-color: {{uatStyleColor}}; width:{{UAT_messages_max ? 100*UAT_messages_last_minute / UAT_messages_max : 0}}%"></div>
						<div class="bar_text">{{UAT_messages_last_minute}}</div>
					</div></span>
					<span class="col-xs-2 text-right">{{UAT_messages_max}}</span>
				</div>
				<div class="row" ng-class="{'section_invisible': !visible_es}">
					<span class="col-xs-1"></span>
					<label class="col-xs-3">1090ES:</label>
					<span class="col-xs-6"><div class="bar_container">
						<div class="bar_display" ng-attr-style="background-color: {{esStyleColor}}; width:{{ES_messages_max ? 100*ES_messages_last_minute / ES_messages_max : 0}}%;"></div>
						<div class="bar_text">{{ES_messages_last_minute}}</div>
					</div></span>
					<span class="col-xs-2 text-right">{{ES_messages_max}}</span>
				</div>
				<div class="row" ng-class="{'section_invisible': !visible_ais}">
					<span class="col-xs-1"></span>
					<label class="col-xs-3">AIS{{AIS_connected ? "" : " (disconnected)"}}:</label>
					<span class="col-xs-6"><div class="bar_container">
						<div class="bar_display" ng-attr-style="background-color: {{aisStyleColor}}; width:{{AIS_messages_max ? 100*AIS_messages_last_minute / AIS_messages_max : 0}}%;"></div>
						<div class="bar_text">{{AIS_messages_last_minute}}</div>
					</div></span>
					<span class="col-xs-2 text-right">{{AIS_messages_max}}</span>
				</div>
				<div class="row" ng-class="{'section_invisible': !visible_ogn}">
					<span class="col-xs-1"></span>
					<label class="col-xs-3">OGN{{OGN_connected ? "" : " (disconnected)"}}:</label>
					<span class="col-xs-6"><div class="bar_container">
						<div class="bar_display" ng-attr-style="background-color: {{ognStyleColor}}; width:{{OGN_messages_max ? 100*OGN_messages_last_minute / OGN_messages_max : 0}}%;"></div>
						<div class="bar_text">{{OGN_messages_last_minute}}</div>
					</div></span>
					<span class="col-xs-2 text-right">{{OGN_messages_max}}</span>
				</div>
				
				<div class="row" ng-class="{'section_invisible': !visible_ogn}">
					<span class="col-xs-1"></span>
					<label class="col-xs-3">OGN Noise@Gain 50:<br/><sup>Half range for each 6 dB noise</sup></label>
					<span class="col-xs-6"><div class="bar_container">
						<div class="bar_display" ng-attr-style="background-color: {{ognStyleColor}}; width:{{(Clamp(OGN_noise_db, 0, 25) / 25.0) * 100}}%; background-color: {{OGN_noise_color}}"></div>
						<div class="bar_text">{{OGN_noise_db}} dB, range loss: {{OGN_range_loss_factor}}x</div>
					</div></span>
					<span class="col-xs-2 text-right">25 dB</span>
				</div>
				<div class="row" ng-class="{ 'section_invisible': (!visible_gps && !visible_ahrs && !visible_uat)}">
					<span class="col-xs-1">&nbsp;</span>
				</div>
				<div class="row" ng-class="{'section_invisible': !visible_ogn}">
					<div class="col-sm-6">
						<span><strong>OGN Statistics</strong></span>
					</div>
				</div>
				<div class="row" ng-class="{'section_invisible': !visible_ogn}">
					<div class="col-sm-12">
						<span align="center" class="col-xs-4 row-header">Background Noise@Gain 50</span>
						<span align="center" class="col-xs-4 row-header">Receiver Gain</span>
						<span align="center" class="col-xs-4 row-header">RF Spectrogram</span>
					</div>
				</div>
				<div class="row" ng-class="{'section_invisible': !visible_ogn}">
					<div class="col-sm-12">
						<span align="center" class="col-xs-4">{{OGN_noise_db}} dB</span>
						<span align="center" class="col-xs-4">{{OGN_gain_db}} dB</span>
						<span align="center" class="col-xs-4"><a ng-href="{{OGN_Status_url}}">Download</a></span>
					</div>
				</div>
				<div class="row" ng-class="{'section_invisible': !visible_uat}">
					<div class="col-sm-6">
						<span><strong>UAT Statistics</strong></span>
					</div>
				</div>
				<div class="row" ng-class="{'section_invisible': !visible_uat}">
					<div class="col-sm-12">
						<span align="center" class="col-xs-3 row-header">Towers</span>
						<span align="center" class="col-xs-3 row-header">METARS</span>
						<span align="center" class="col-xs-3 row-header">TAFS</span>
						<span align="center" class="col-xs-3 row-header">NEXRAD</span>
					</div>
				</div>
				<div class="row" ng-class="{'section_invisible': !visible_uat}">
					<div class="col-sm-12">
						<span align="center" class="col-xs-3">{{UAT_Towers}}</span>
						<span align="center" class="col-xs-3">{{UAT_METAR_total}}</span>
						<span align="center" class="col-xs-3">{{UAT_TAF_total}}</span>
						<span align="center" class="col-xs-3">{{UAT_NEXRAD_total}}</span>
					</div>
				</div>
				<div class="row" ng-class="{'section_invisible': !visible_uat}">
					<div class="col-sm-12">
						<span align="center" class="col-xs-3 row-header">PIREP</span>
						<span align="center" class="col-xs-3 row-header">SIGMET</span>
						<span align="center" class="col-xs-3 row-header">NOTAMS</span>
						<span align="center" class="col-xs-3 row-header">Other</span>
					</div>
				</div>
				<div class="row" ng-class="{'section_invisible': !visible_uat}">
					<div class="col-sm-12">
						<span align="center" class="col-xs-3">{{UAT_PIREP_total}}</span>
						<span align="center" class="col-xs-3">{{UAT_SIGMET_total}}</span>
						<span align="center" class="col-xs-3">{{UAT_NOTAM_total}}</span>
						<span align="center" class="col-xs-3">{{UAT_OTHER_total}}</span>
					</div>
				</div>
				<div class="separator"></div>
				<div class="row" ng-class="{'section_invisible': !visible_gps}">
					<label class="col-xs-6">GPS hardware:</label>
					<span class="col-xs-6">{{GPS_hardware}} <a href="http://{{GPS_NetworkRemoteIp}}" ng-show="GPS_hardware=='Network'">{{GPS_NetworkRemoteIp}}</a> ({{GPS_protocol}})</span>
				</div>
				<div class="row" ng-class="{'section_invisible': !visible_gps}">
					<label class="col-xs-6">GPS solution:</label>
					<span class="col-xs-6">{{GPS_solution}}{{GPS_position_accuracy}}</span>
				</div>
				<div class="row" ng-class="{'section_invisible': !visible_gps}">
					<label class="col-xs-6">GPS satellites:</label>
					<span class="col-xs-6">{{GPS_satellites_locked}} in solution; {{GPS_satellites_seen}} seen; {{GPS_satellites_tracked}} tracked</span>
				</div>
				<div class="separator"></div>
				<div class="row">
					<div class="col-sm-4 label_adj">
						<span class="col-xs-5"><strong>Uptime:</strong></span>
						<span class="col-xs-7">{{Uptime}}</span>
					</div>
					<div class="col-sm-4 label_adj">
						<span class="col-xs-5"><strong>CPU Temp:</strong></span>
						<span class="col-xs-7">{{CPUTemp}} <div ng-show="DeveloperMode == true">[{{CPUTempMin}} - {{CPUTempMax}}]</div></span>
					</div>
					<div class="col-sm-4 label_adj">
						<span class="col-xs-5"><strong>Free Storage:</strong></span>
						<span class="col-xs-7">{{DiskSpace}} MiB</span>
					</div>
				</div>
			</div>
		</div>	
	</div>
	<div class="panel panel-default" ng-class="{'section_invisible': !visible_errors}">
		<div class="panel-heading" ng-class="{'section_invisible': !visible_errors}">
			<span class="panel_label">Errors</span>
		</div>
		<div class="panel-body" ng-class="{'section_invisible': !visible_errors}">
			<ul>
				<li class="status-error" ng-repeat="err in Errors">
					<span class="fa fa-exclamation-triangle icon-red"></span> <span class="icon-red">{{err}}</span>
				</li>
			</ul>
		</div>
	</div>
</div>