@keyframes plane-map-color-anim {
    to {
        fill:transparent;
        stroke: transparent;
    }

}

.plane-map {
    animation-name: plane-map-color-anim;
    animation-duration: 20s;
    animation-fill-mode: forwards;
    stroke: white;
    stroke-width: 10px;
}

.plane-map-style1,
.plane-map-style10,
.plane-map-style11 {
    fill: cornflowerblue;

}


.plane-map-style12,
.plane-map-style13,
.plane-map-style14 {
	fill: skyblue;
}

.plane-map-style2,
.plane-map-style20,
.plane-map-style21 {
	fill: darkkhaki
}

.plane-map-style22,
.plane-map-style23,
.plane-map-style24 {
	fill: khaki
}

.paperairplane_left,
.plane-map-style4,
.plane-map-style40,
.plane-map-style41 {
	fill: green;
}

.plane-map-style42,
.plane-map-style43,
.plane-map-style44 {
	fill: greenyellow;
}

.plane-map-label {
    font-size: 1.1em;
    font-family: sans-serif;
    color:black;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    line-height: 100%;
}

.panel-body-fullsize {
	padding: 8px 4px 4px 4px;
    width: 100%;
    height: calc(100vh - 160px);
    
}

