*:-webkit-full-screen {
    width: 100%;
    height: 100%;
}
//for iOS,Safari

.radar .backRect {
    fill: black;
}

.radar .card {
    fill: #ffffff	;
    stroke: #000000;
}

.radar .circle {
    fill: white;
    stroke: black;
}

.radar .textDir {
	font-size: 1em;
	font-family: sans-serif;
	font-weight: normal;
	text-anchor: left;
	fill: #000000;
}

.radar .textOutside {
	font-size: 1.3em;
	font-family: sans-serif;
	font-weight: normal;
	text-anchor: left;
        fill: white;
	stroke: none;
}
.radar .textOutsideRight {
	font-size: 1.3em;
	font-family: sans-serif;
	font-weight: normal;
	text-anchor: end;
        fill: white;
	stroke: none;
}
.radar .textCirc {
	font-size: 1.8em;
	font-family: sans-serif;
	text-anchor: center;
	fill: #7B1AB9;
}
.radar .textCircReg {
	font-size: 0.8em;
	font-family: sans-serif;
	text-anchor: center;
	fill: #7B1AB9;
}
.radar .textRegOut {
	font-size: 0.8em;
	font-family: sans-serif;
	text-anchor: center;
	fill: white;
	stroke: white;
	stroke-width: 3px;
}

.radar .textCOut {
	font-size: 1.8em;
	font-family: sans-serif;
	text-anchor: center;
	fill: white;
	stroke: white;
	stroke-width: 7px;
}

.radar .greenCirc {
	fill: none;
	stroke: #7B1AB9;
	stroke-width: 3px;
}

.radar .trace {
	fill: none;
	stroke: black;
	stroke-width: 2px;
	stroke-dasharray: 2px;
}

.radar .textPlane {
	font-size: 1.8em;
	font-family: sans-serif;
	text-anchor: start;
	fill: black;
	stroke-width: 0px;
}

.radar .textPlaneOut {
	font-size: 1.8em;
	font-family: sans-serif;
	text-anchor: start;
	fill: white;
	stroke: white;
	stroke-width: 2px;
}

.radar .textPlaneSmall {
	font-size: 0.8em;
	font-family: sans-serif;
	text-anchor: start;
	fill: black;
	stroke-width: 0px;
}

.radar .textPlaneReg {
	font-size: 0.8em;
	font-family: sans-serif;
	text-anchor: start;
	fill: black;
	stroke-width: 0px;
}

.radar .textPlaneVerySmall {
	font-size: 0.5em;
	font-family: sans-serif;
	text-anchor: start;
	fill: black;
}

.radar .textSmall {
	font-size: 1em;
	font-family: sans-serif;
	text-anchor: left;
	fill: #1122EE;
}

.radar .plane {
	fill: black;
	stroke: none;
}

.radar .centerplane {
	fill: #1122EE;
	stroke: none;
}

.radar .planeRotationPoint {
	fill: white;
	stroke-width: 1px;
	stroke: white;
}

.radar .zoom {
    fill: #121512;
    stroke: white;
    stroke-width: 2;
}

.radar .zoomInvert {
    fill: white;
    stroke: #121512;
    stroke-width: 2;
}

.radar .textZoom {
    font-size: 1.1em;
    font-family: sans-serif;
    text-anchor: middle;
    font-weight: bold;
    stroke-width: 0;
    fill: white;
}

.radar .textZoomInvert {
    font-size: 1.1em;
    font-family: sans-serif;
    text-anchor: middle;
    font-weight: bold;
    stroke-width: 0;
    fill: #121512;
}

.radar .tSmall {
    line-height: 0.8;
    font-size: 0.9em;
    font-family: sans-serif;
    text-anchor: middle;
    font-weight: bold;
    stroke-width: 0;
    fill: white;
}

.radar .tSmallInvert {
    line-height: 0.8;
    font-size: 0.9em;
    font-family: sans-serif;
    text-anchor: middle;
    font-weight: bold;
    stroke-width: 0;
    fill: #121512;
}

