@import url(bootstrap.min.css);
@import url(onoff.css);

body
{
  background-color: #ddd;
}

#stratux-main
{
  margin-right: 0;
  margin-left: 0;
  background-color: #fff;
  border-color: #ddd;
  border-width: 1px;
  border-radius: 4px 4px 0 0;
  box-shadow: none;
  margin: auto;
  max-width: 400px;
}

#RY835AI_connected-container
{
  display: table-cell;
  vertical-align: middle;
}

.led-red
{
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #940;
  border-radius: 50%;
  box-shadow: #000 0 -1px 7px 1px, inset #600 0 -1px 9px, #F00 0 2px 12px;
}

.led-green
{
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #00FF00;
  border-radius: 50%;
  box-shadow: #000 0 -1px 7px 1px, inset #460 0 -1px 9px, #7D0 0 2px 12px;
}
