@import url(bootstrap.cust.min.css);
@import url(onoff.css);
body {
    background-color: #ddd;
}

#stratux-main {
    margin-right: 0;
    margin-left: 0;
    padding: 0 19px 0px 19px;
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
    margin: auto;
    max-width: 1024px;
}

/* this media query matches custom bootstrap build */
@media screen and (min-width: 640px) {
    #stratux-main .panel {
        min-height: 280px;
    }
}

/* tweek panel titles relative to status indicator */
.panel_label {
    font-size: 16px;
    margin-top: 4px;
    display: inline-block;
    line-height: 12px;
    vertical-align: bottom;
    padding-bottom: 2px;
}

#RY835AI_connected-container {
    display: table-cell;
    vertical-align: middle;
}

/* use both shape and color to address accessability requirement */
.led-red {
    width: 16px;
    height: 16px;
    background: #BF0000;
    position: relative;
}

.led-red:before {
    box-sizing: initial;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 5px solid #BF0000;
    border-left: 5px solid white;
    border-right: 5px solid white;
    width: 6px;
    height: 0;
}

.led-red:after {
    box-sizing: initial;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 5px solid #BF0000;
    border-left: 5px solid white;
    border-right: 5px solid white;
    width: 6px;
    height: 0;
}

.led-green {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #007F00;
    border-radius: 50%;
    /* box-shadow: #000 0 -1px 7px 1px, inset #460 0 -1px 9px, #7D0 0 2px 12px; */
}