# To be placed in /etc/udev/rules.d.
#  Auto-detect common USB stratux peripherals.

# u-blox devices. Known devices include
#   ublox8: RY835AI, RY836AI
#   ublox7: VK-172, RY725AI
#   ublox6: VK-162

SUBSYSTEMS=="usb", ATTRS{idVendor}=="1546", ATTRS{idProduct}=="01a8", SYMLINK+="ublox8"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1546", ATTRS{idProduct}=="01a7", SYMLINK+="ublox7"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1546", ATTRS{idProduct}=="01a6", SYMLINK+="ublox6"
#SUBSYSTEMS=="usb", ATTRS{idVendor}=="1546", ATTRS{idProduct}=="01a7", SYMLINK+="vk172"
#SUBSYSTEMS=="usb", ATTRS{idVendor}=="1546", ATTRS{idProduct}=="01a6", SYMLINK+="vk162"



# pl2303 devices are indistinguishable using idVendor and idProduct.
#  Currently the BU-353-S4 and the TU-S9 (serialout) use the pl2303.

SUBSYSTEMS=="usb", ATTRS{idVendor}=="067b", ATTRS{idProduct}=="2303", SYMLINK+="prolific%n"

#SUBSYSTEMS=="usb", ATTRS{idVendor}=="067b", ATTRS{idProduct}=="2303", SYMLINK+="bu353s4"
#SUBSYSTEMS=="usb", ATTRS{idVendor}=="067b", ATTRS{idProduct}=="2303", SYMLINK+="tu-s9"

# CP2102-based serial adapters. Assume that all devices plugged in with this idVendor and idProduct are for serialout.
#cp210x-program --write-cp210x -m 10C4:EA60 \
#                 --set-product-string="Stratux Serialout" \
#                 --set-max-power=100 \
#                 --set-bus-powered=no

SUBSYSTEMS=="usb", ATTRS{interface}=="Stratux Serialout", SYMLINK+="serialout%n"
