ddns-update-style none;
default-lease-time 86400;	# 24 hours
max-lease-time 172800;		# 48 hours
authoritative;
log-facility local7;
subnet {{.IpPrefix}}.0 netmask 255.255.255.0 {
	range {{.DhcpRangeStart}} {{.DhcpRangeEnd}};
	option broadcast-address {{.IpPrefix}}.255;
	option routers {{.IpAddr}};
	default-lease-time 12000;
	max-lease-time 12000;
	#option domain-name "stratux.local";
	#option domain-name-servers 4.2.2.2;
}
