interface=ap0
hw_mode=g
wmm_enabled=1
ieee80211n=1
ignore_broadcast_ssid=0

{{if .WiFiSSID}}
ssid={{.WiFiSSID}}
{{else}}
ssid=stratux
{{end}}

{{if ne .WiFiChannel 0}}
channel={{.WiFiChannel}}
{{else}}
channel=1
{{end}}


{{if .WiFiPassPhrase}}
auth_algs=1
wpa=3
wpa_key_mgmt=WPA-PSK
wpa_pairwise=TKIP
rsn_pairwise=CCMP
wpa_passphrase={{.WiFiPassPhrase}}
{{end}}

